.List-card {
  display: flex;
  align-items: center;
  height: 8rem;
  border-bottom: 1px solid #cccccc;

  .item {
    &-index {
      margin: 0 1rem;
      font-size: 1.4rem;
      color: #333333;
    }
    &-logo {
      display: block;
      width: 6rem;
      height: 6rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.3);
      margin-right: 0.6rem;
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 5rem;
    }
    &-name {
      font-size: 1.4rem;
    }
    &-category {
      color: #949494;
    }
    &-rate {
      display: flex;
      align-items: center;
    }
  }

  &:nth-child(2n) {
    .item-logo {
      border-radius: 100%;
    }
  }
}
