.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 4rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
}

.App-recommend {
  width: 100%;
  box-sizing: border-box;
}
.App-recommend-title {
  padding: 1rem;
}
.App-recommend-list {
  display: flex;
  width: 100%;
  padding: 0 1rem 1rem;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}

.App-list {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  border-top: 1px solid #cccccc;
  margin-top: 1rem;
}
