.App-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 4rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cccccc;
}

.App-recommend {
  width: 100%;
  margin-top: 4rem;

  &-title {
    padding: 1rem;
  }
  &-list {
    display: flex;
    width: 100%;
    padding: 0 1rem 1rem;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.App-list {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  border-top: 1px solid #cccccc;
  margin-top: 1rem;
}

.App-load-more {
  text-align: center;
  padding: 1rem 0;
}

.App-footer {
  color: #949494;
  line-height: 3rem;
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px solid #cccccc;
}
